<div class="row layout--row__5 beslenme-tablosu--main">
    <div class="col-md-6 beslenme-tablosu--container">
        <div class="beslenme-tablosu--container--inner">
            <div class="beslenme-tablosu--container--inner--items row">
                <div class="beslenme-tablosu--product--text">
                    <div class="beslenme-tablosu--product--text--title"> Evolvia RP1  </div>
                    <div class="beslenme-tablosu--product--desc">30 ml suya 4,5 g toz formülün ilavesiyle hazırlanır.</div>
                </div>
                <div><img class="beslenme-tablosu--product--img" src="assets/img/product-1.png"></div>
            </div>

            <div class="urun--icerik--product--bilesen beslenme-tablosu--table">
                <table>
                    <tr>
                        <td rowspan="2"><strong>Yaş</strong></td>
                        <td colspan="2"><strong>Her bir biberon için</strong></td>
                        <td rowspan="2"><strong>Günlük Öğün sayısı</strong></td>
                    </tr>
                    <tr>
                        
                        <td><strong>Miktar (4,5g)</strong></td>
                        <td><strong>Su (ml)</strong></td>
                        
                       
                    </tr>
                    <tr>
                        <td><strong>1.-2. Hafta</strong></td>
                        <td>3</td>
                        <td>90</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><strong>3.-4. Hafta</strong></td>
                        <td>4</td>
                        <td>120</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><strong>2. Ay</strong></td>
                        <td>5</td>
                        <td>150</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><strong>3. Ay</strong></td>
                        <td>6</td>
                        <td>180</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td><strong>4.-5. Ay</strong></td>
                        <td>7</td>
                        <td>210</td>
                        <td>5</td>
                    </tr>
                    
                </table>
            </div>
        </div>    
    </div>



    <div class="col-md-6 beslenme-tablosu--container">
        <div class="beslenme-tablosu--container--inner">
            <!-- <div class="beslenme-tablosu--container--inner--items" style="height: 1000px;"> -->
            <div class="beslenme-tablosu--container--inner--items row" >
                <div class="beslenme-tablosu--product--text">
                    <div class="beslenme-tablosu--product--text--title"> Evolvia RP2  </div>
                    <div class="beslenme-tablosu--product--desc">30 ml suya 4,7 g toz formülün ilavesiyle hazırlanır.</div>
                </div>
                <div><img class="beslenme-tablosu--product--img" src="assets/img/product-2.png"></div>
            </div>

            <div class="urun--icerik--product--bilesen beslenme-tablosu--table">
                <table>
                    <tr>
                        <td rowspan="2"><strong>Yaş</strong></td>
                        <td colspan="2"><strong>Her bir biberon için</strong></td>
                        <td rowspan="2"><strong>Günlük Öğün sayısı</strong></td>
                    </tr>
                    <tr>
                        
                        <td><strong>Miktar (4,5g)</strong></td>
                        <td><strong>Su (ml)</strong></td>
                        
                       
                    </tr>
                    <tr>
                        <td><strong>6. aydan itibaren</strong></td>
                        <td>8</td>
                        <td>240</td>
                        <td>4</td>
                    </tr>
                    
                    
                </table>
            </div>
            
        </div>    
    </div>
</div>


