<div class="row layout--row__5 kimler-rapor-yazabilir--main">
    
    <div class="col-md-12 kimler-rapor-yazabilir--container">
        <div class="kimler-rapor-yazabilir--container--inner">
            
            <img class="kimler-rapor-yazabilir--product--img filter-dark-blue" src="assets/img/info.svg">
            <div class="kimler-rapor-yazabilir--product--text"> Evolvia RP1  </div>
            <div class="kimler-rapor-yazabilir--product--desc"> 2 yaşına kadar inek sütü alerjisi olan bebeklerde katkı paysız  </div>
            <div class="kimler-rapor-yazabilir--product--desc"> 2 yaşından sonra katkı paylı olarak ödenir. </div>
            

            <div class="kimler-rapor-yazabilir--product--text"> Rapor yazma yetkisi  </div>
            <div class="kimler-rapor-yazabilir--product--desc"> 
                <img class="kimler-rapor-yazabilir--product--img--thick filter-dark-blue" src="assets/img/thick.svg">
                Çocuk gastroenteroloji veya çocuk immünoloji ve alerji hastalıkları uzmanı
            </div>
            <div class="kimler-rapor-yazabilir--product--desc"> 
                <img class="kimler-rapor-yazabilir--product--img--thick filter-dark-blue" src="assets/img/thick.svg">
                Bu hekimlerin bulunmadığı hastanelerde çocuk sağlığı ve hastalıkları uzman hekimi 
            </div>
            

            
        </div>    
    </div>



    
</div>


