



<div class="row presentil-degerler--layout--row__5 mb-md-60">
    
    
    <div class="col-md-12 urun--icerik--container presentil-degerler--container">
       
       
        <div class="urun--icerik--product--detail--back presentil-degerler__display--desktop "> 
            <div class="urun--icerik--product--detail--header--left">
                <div class="urun--icerik--product--detail--1__back"><img class="filter-light-grey" src="assets/img/back.svg"> Geri </div>
                <div class="urun--icerik--product--detail--1__back"><img class="vertical-line" src="assets/img/vertical_line.png"> </div>
            </div>  
        


            <div class="row reset-row">
                <div class="doz-hesapla--table--row  row reset-row presentil-degerler--row__1" >
                    <input type="text" name="baby_name" id="baby_name" class="presentil-degerler--input__1 doz-hesapla--table-- mt-10 mb-10 " style="width: 60%; text-align: left; padding-left: 10px;">
                    <img class="edit_btn_img" src="assets/img/edit.png">
                </div>

                
                <div class="row">
                    <div class="doz-hesapla--table--row presentil-degerler--row__2 row reset-row">
                        <div class="custom-select "  >
                            <select name="baby_gender" id="baby_gender" >
                                <option value="boy">Erkek</option>
                                <option value="boy">Erkek</option>
                                <option value="girl">Kız</option>
                               
                            </select>
                        </div>
                    </div>







                    <div class="doz-hesapla--table--row presentil-degerler--row__3  row reset-row">
                        <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"  name="baby_weight"  id="baby_weight"  class="presentil-degerler--input__3 doz-hesapla--table-- mt-10 mb-10  " style="width: 60%;">
                        
                        <img class="edit_btn_img" src="assets/img/edit.png">
                        <span style="position: absolute;">kg</span>
                    </div>
                    <div class="doz-hesapla--table--row presentil-degerler--row__4  row reset-row">
                        <div class="custom-select "  >
                            <select name="baby_birthday" id="baby_birthday" >
                                <option value="">0 ay</option>
                                <option value="0">0 ay</option>
                                <option value="3">3 ay</option>
                                <option value="6">6 ay</option>
                                <option value="9">9 ay</option>
                                <option value="12">12 ay</option>
                                <option value="15">15 ay</option>
                                <option value="18">18 ay</option>
                                <option value="24">2 yaş</option>
                                <option value="30">2,5 yaş</option>
                                <option value="36">3 yaş</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="urun--icerik--product--detail--back presentil-degerler__display--mobile row"> 

            <div class="col-5 mb-md-0 mb-20">
                <div class="urun--icerik--product--detail--header--left">
                    <div class="urun--icerik--product--detail--1__back"><img class="filter-light-grey" src="assets/img/back.svg"> Geri </div>
                    <div class="urun--icerik--product--detail--1__back"><img class="vertical-line" src="assets/img/vertical_line.png"> </div>
                </div>  
            </div>
        
            <div class="col-7 mb-md-0 mb-20">
                <div class="doz-hesapla--table--row presentil-degerler--input__1__container">
                    <input type="text" name="baby_name" class="presentil-degerler--input__1 doz-hesapla--table-- mt-10 mb-10 " style="width: 60%;">
                    <img class="edit_btn_img" src="assets/img/edit.png">
                </div>
            </div>


            <div class="col-4 reset-row reset-paddings">
                <div class="doz-hesapla--table--row presentil-degerler--row__2 row reset-row">
                    <div class="custom-select "  >
                        <select name="baby_gender"  id="baby_gender" >
                            <option value="boy">Erkek</option>
                            <option value="boy">Erkek</option>
                            <option value="girl">Kız</option>
                           
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4 reset-row reset-paddings">
                <div class="doz-hesapla--table--row presentil-degerler--row__3 row reset-row">
                    <input type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true"    name="baby_weight"  id="baby_height_m"  class="presentil-degerler--input__3 doz-hesapla--table-- mt-10 mb-10 " style="width: 60%;">
                    <img class="edit_btn_img" src="assets/img/edit.png">
                    <span style="position: absolute;">kg</span>
                </div>
            </div>
            <div class="col-4 reset-row reset-paddings">
                <div class="doz-hesapla--table--row presentil-degerler--row__2 row reset-row"></div>
                <div class="custom-select "  >
                    <select name="baby_birthday" id="baby_birthday" >
                        <option value="0">0</option>
                        <option value="0">0</option>
                        <option value="3">3 ay</option>
                        <option value="6">6 ay</option>
                        <option value="9">9 ay</option>
                        <option value="12">12 ay</option>
                        <option value="15">15 ay</option>
                        <option value="18">18 ay</option>
                        <option value="24">2 yaş</option>
                        <option value="30">2,5 yaş</option>
                        <option value="36">3 yaş</option>
                    </select>
                </div>
            </div>
            

        </div>


    </div>

  


    
    <div class="col-md-12 text-left pl-md-70 pl-30 mt-md-30 mt-0  presentil-degerler__kg__presentil" id="print_area_kg">
        <div class="presentil-degerler--title mb-40 mt-40">Bebeğin kg presentil değeri</div>
        <!-- <embed class="w-md-65 w-95" src="assets/img/kilo-persentil-with-dot-smart.svg" id="presentil-degerler__kg__presentil"> -->
            <div class="w-md-70 w-95  mt-md--40 mt--50">
                @@include('./partials/presentil-tablo-kg.html') 
            </div>
            <div class="w-md-70 w-95 print-button-container mt-30">
                <a class="print-button" href="javascript:void(0);" onclick="printJS('print_area_kg', 'html')"><img class="doz-hesapla--img__print  filter-dark-blue" src="assets/img/print.svg"> <span>Yazdır</span></a>
            </div>
    </div>






    <div class="col-md-12 urun--icerik--container mt-40 ">
        <div class="urun--icerik--product--detail--back bg-color-4 pt-30 pb-30"> 
            <div class="row reset-row reset-paddings ">
                
                <div class="col-12 mb-30 text-center d-block-mobile" > 
                    Boy ve baş çevresi persentil değeri hesaplamak için <br> ölçüleri giriniz.
                </div>
                
                <div class="row col-md-8 col-12 reset-row reset-paddings">
                    <div class="doz-hesapla--table--row row  reset-row reset-paddings col-4  text-left ml-md-20 mr-md--20 ml-15 mr--15" > 
                        <div class="w-md-60 w-90 zoom-md-10  zoom-xs-8 zoom-7">Bebeğin Boyu</div>           
                        <input type="text" name="baby_height" id="baby_height" class="presentil-degerler--input__5  mt-10 mb-10 "  style="text-align: left;padding-left: 30px !important;">
                        <img class="edit_btn_img baby_height_btn" src="assets/img/arrowdown.png">
                        <span style="position: relative;right: 5vw;" class="d-block-desktop">cm</span>
                    </div>
                    <div class="doz-hesapla--table--row reset-row reset-paddings row col-4  text-left ml-md-20 mr-md--20 ml-10 mr--10" > 
                        <div class="w-md-60 w-90  zoom-md-10  zoom-xs-8 zoom-7">Bebeğin Baş Çevresi    </div>            
                        <input type="text" name="baby_head" class="presentil-degerler--input__5  mt-10 mb-10 " style="text-align: left;padding-left: 30px !important;">
                        <img class="edit_btn_img baby_head_btn" src="assets/img/arrowdown.png">
                        <span style="position: relative;right: 5vw;" class="d-block-desktop">cm</span>

                    </div>
                    <div class="doz-hesapla--table--row   col-4  text-left" > 
                        <a href="javascript:void(0)" class="rapor-al--button hesapla-btn ml-md--10 ml-0  mt-md-25 mt--18 mr-md-0 mr-md-0 mr--20 " id="raport-modal-btn">Hesapla</a>
                    </div>

                </div>

                <div class="doz-hesapla--table--row  col-md-4  text-center d-block-desktop" > 
                    Boy ve baş çevresi persentil değeri hesaplamak için <br> ölçüleri giriniz.
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="col-md-12 text-left pl-md-70 pl-30 mt-md-30 mt-0  presentil-degerler__boy__presentil"  id="print_area_boy">
        <div class="presentil-degerler--title mb-40 mt-40">Bebeğin Boy presentil değeri</div>
        <!-- <img class="w-65" src="assets/img/boy-persentil.svg"> -->
        <div class="w-md-70 w-95  mt-md-40 mt--50">
            @@include('./partials/presentil-tablo-boy.html') 
        </div>    
        
        <div class="w-md-70 w-95 print-button-container  mt-30">
            <a class="print-button" href="javascript:void(0);" onclick="printJS('print_area_kg', 'html')"><img class="doz-hesapla--img__print  filter-dark-blue" src="assets/img/print.svg"> <span>Yazdır</span></a>
        </div>
    </div>

    
    <div class="col-md-12 text-left pl-md-70 pb-md-70 pl-30 mt-md-30 mt-0 mb-md-30 mb-40  presentil-degerler__bas__presentil"  id="print_area_bas">
        <div class="presentil-degerler--title mb-40 mt-40">Bebeğin Baş presentil değeri</div>
        <!-- <img class="w-65" src="assets/img/bas-persentil.svg"> -->
        <div class="w-md-70 w-95  mt-md-40 mt--50">
            @@include('./partials/presentil-tablo-bas.html') 

        </div>    
        <div class="w-md-70 w-95 print-button-container mt-30">
            <a class="print-button" href="javascript:void(0);" onclick="printJS('print_area_kg', 'html')"><img class="doz-hesapla--img__print  filter-dark-blue" src="assets/img/print.svg"> <span>Yazdır</span></a>
        </div>    
    </div>


    


</div>



