<div class="layout--bg"  id="hamburger-menu">
  <div class="layout--container ">
    <div class="layout--row__4">
      <a href="doz-hesapla.html" class="layout--button layout--button__yellow layout--button__left">Doz Hesapla</a>
      <a href="presentil-hesapla.html" class="layout--button layout--button__blue layout--button__right">Presentil Hesapla</a>
      <div class="nav--item--container">
     <div class="nav--item"><a href="urun-icerigi.html" class="active ">Ürün İçeriği</a></div>
      <div class="nav--item line"></div>
      <div class="nav--item"><a href="beslenme-tablosu.html" class="active ">Beslenme Tablosu</a></div>
      <div class="nav--item line line__2"></div>
      <div class="nav--item"><a href="kimler-rapor-yazabilir.html" class="active ">Kimler Rapor Yazabilir</a> </div>
      <div class="nav--item line line__3"></div>
      <div class="nav--item"><a href="urun-icerigi.html" class="active ">Pirinç Proteini Bazlı Formüla ile Tarifler</a> </div>


     

    </div>
    </div>
  </div>
  <div class="layout--ref">
    Ref: Evolvia RP Ürün Bilgisi
  </div>
</div>