<nav class="mt-75 topnav--container">

  <a href="/">
    <img class=" topnav--logo" src="assets/img/logo.svg">  
  </a>
 
<div class="topnav" id="myTopnav">
  <a class="topnav--item " href="#">Pirinç Proteini Bazlı Formüla ile Tarifler</a>
  <a class="topnav--item " href="kimler-rapor-yazabilir.html">Kimler Rapor Yazabilir</a>
  <a class="topnav--item " href="beslenme-tablosu.html">Beslenme Tablosu</a>
  <a class="topnav--item " href="urun-icerigi.html" class="active ">Ürün İçeriği</a>


  <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
    <img class="filter-main-color" src="assets/img/icons/bars.svg">
  </a>
</div>
</nav>  