<div id="raport-modal" class="modal">
    <div>
        <div class="modal-content">
        <span class="close">&times;</span>

       
        <table>
            <tr>
                <th></th>
                <th colspan="2"> İlk 2 yaşa kadar katılım paysız</th>
                
            </tr>
        
           
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="T78.1" checked><span class="checkmark"></span></label></td>
               <td><strong>T78.1</strong></td>
               <td class="T78_1">Ters gıda reaksiyonları diğer, başka yerde sınıflanmamış (yalnızca inek sütü alerjisi için)</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="K52.2"><span class="checkmark"></span></label></td>
               <td><strong>K52.2</strong></td>
               <td class="K52_2"> Allerjik ve dietetik gastroenterit ve kolit (yalnızca inek sütü alerjisi için)</td>
            </tr>
            
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="K91.2"><span class="checkmark"></span></label></td>
               <td><strong>K91.2</strong></td>
               <td class="K91_2"> Malabsorbsiyon cerrahi sonrası, başka yerde sınıflanmamış</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E88.8"><span class="checkmark"></span></label></td>
               <td><strong>E88.8</strong></td>
               <td class="E88_8"> Metabolik bozukluklar, diğer tanımlanmamış</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E88.9"><span class="checkmark"></span></label></td>
               <td><strong>E88.9</strong></td>
               <td class="E88_9"> Metabolik bozukluklar, tanımlanmamış</td>
            </tr>
            
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E70"><span class="checkmark"></span></label></td>
               <td><strong>E70</strong></td>
               <td class="E70"> Aromatik amino-asit metabolizması bozuklukları</td>
            </tr>
            
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E71"><span class="checkmark"></span></label></td>
               <td><strong>E71</strong></td>
               <td class="E71"> Dallı-zincirli amino-asit metabolizması ve yağ-asidi metabolizması bozuklukları</td>
            </tr>
            
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E72"><span class="checkmark"></span></label></td>
               <td><strong>E72</strong></td>
               <td class="E72"> Amino-asit metabolizmasının diğer bozuklukları</td>
            </tr>
            
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E74"><span class="checkmark"></span></label></td>
               <td><strong>E74</strong></td>
               <td class="E74"> Karbonhidrat metabolizmasının diğer bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E75"><span class="checkmark"></span></label></td>
               <td><strong>E75</strong></td>
               <td class="E75"> Sfingolipid metabolizması bozuklukları ve diğer lipid depo bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E76"><span class="checkmark"></span></label></td>
               <td><strong>E76</strong></td>
               <td class="E76"> Glikozaminoglikan metabolizması bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E77"><span class="checkmark"></span></label></td>
               <td><strong>E77</strong></td>
               <td class="E77"> Glikoprotein metabolizması bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E79"><span class="checkmark"></span></label></td>
               <td><strong>E79</strong></td>
               <td class="E79"> Purin ve pirimidin metabolizması bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E80"><span class="checkmark"></span></label></td>
               <td><strong>E80</strong></td>
               <td class="E80"> Porfirin ve bilirubin metabolizması bozuklukları</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E88.0"><span class="checkmark"></span></label></td>
               <td><strong>E88.0</strong></td>
               <td class="E88_0"> Plazma-protein metabolizması bozuklukları, başka yerde sınıflanmamış</td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E88.1"><span class="checkmark"></span></label></td>
               <td><strong>E88.1</strong></td>
               <td class="E88_1"> Lipodistrofi, başka yerde sınıflanmamış   </td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="E88.2"><span class="checkmark"></span></label></td>
               <td><strong>E88.2</strong></td>
               <td class="E88_2"> Lipomatozis, başka yerde sınıflanmamış   </td>
            </tr>
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="G71.0"><span class="checkmark"></span></label></td>
               <td><strong>G71.0</strong></td>
               <td class="G71_0"> Musküler distrofi   </td>
            </tr>
           
            


        </table>

        <table class="mt-20">
            <tr>
                <th></th>
                <th colspan="2"> 2 yaşın üstü katılım paylı</th>
                
            </tr>
            <tr>
           
            <tr>
               <td><label class="form-container"><input type="radio" name="report-detail"  value="20.00"><span class="checkmark"></span></label></td>
               <td><strong>20.00</strong></td>
               <td>(Eski Kodu=20.00) EK-2 Listede Yer Almayan Hastaliklar</td>
            </tr>
        </table>

        <div class="mt-35 mt-md-15 ">
            <a href="#" class="rapor-al--button model-tamamla-btn w-30" id="raport-modal-detail-btn">Tamamla</a>
        </div>
        

        </div>
    </div>
  
  </div>



  <div id="raport-modal-detail" class="modal">
   <div>
       <div class="modal-content">
       <span class="close" id="close-modal">&times;</span>

      <div class="detail" id="print_area_modal_detail">
         <span>SGK Etken Madde Kodu:</span> SGKGBC
         <br><br><span>ICD Kodu</span> <br> 
         
         <div id="icd">T78.1 Ters gıda reaksiyonları diğer, başka yerde sınıflanmamış (yalnızca inek sütü alerjisi için)</div>
         
         <br><br>
         <span>Teşhis Kodu:</span> 
         <br><br>15.4.1. Barsak operasyonundan dolayı oluşan malabsorbsiyonlar ve malnütrisyonlar. İlk iki yaşta inek sütü alerjisi. Doğuştan metabolik ve kalıtsal hastalıklar.		 
         
         <br><br><span>Açıklama:</span> 
         <br><br>
         
         
         <span id="icd_text"></span>  tanısı ile takip edilen hastanın özel tıbbi amaçlı diyet gıda kullanması gerekmektedir. 
         
         <br><br>
            Günlük kalori ihtiyacının 
               <span class="modal-content-yuzde"> ... </span> payı olan
               <span class="modal-content-miktar-urun"> ... </span> isimli formülden günlük
               <span class="modal-content-olcek"> ... </span> olacak şekilde karşılanacaktır. 
               <span class="modal-content-pozoloji"> 6X5 </span> pozolojide. 
         <br> 
         
      </div>
      
       

       <div class="mt-35 mt-md-15 ">
           <a href="#" class="rapor-al--button w-30 model-tamamla-btn" id="raport-modal-print-btn">  <img class="doz-hesapla--img__print  filter-white" src="assets/img/print.svg"> Yazdır</a>
           <!-- <a href="#" class="rapor-al--button w-30 model-tamamla-btn" onclick='printDiv();'>  <img class="doz-hesapla--img__print  filter-white" src="assets/img/print.svg"> Yazdır</a> -->
       </div>
       

       </div>
   </div>
 
 </div>


  