<div id="warning-modal" class="modal">
    <div>
        <div class="modal-content">

         <div>
            Bu site sağlık mensupları içindir. (Doktor, Eczacı ya da Tıp Öğrencileri) Sağlık mesleği mensubu olduğunuzu onaylamak için  <strong> “Devam” </strong>butonuna basınız; eğer sağlık mesleği mensubu değilseniz,  lütfen <strong>“Geri”</strong> butonuna basınız. 

         </div>


         <div class="row warning-modal--row">
            <div class="mt-35 ">
               <a href="#" class="rapor-al--button w-30 warning-modal--button"   id="warning-modal-back-btn">Geri</a>
           </div>
           <div class="mt-35 ">
               <a href="#" class="rapor-al--button w-30 warning-modal--button" id="warning-modal-continue-btn">Devam</a>
           </div>
         </div>
        

        </div>
    </div>
  
</div>



  


  