

    @@include('./layout/header.html') 
    
    <main role="main">
      @@include('./partials/navbar.html') 
      
      <div class="layout--bg" >
       <div id="content">
          <img class="layout--hero" src="assets/img/hero_new_main.png">
          <img class="layout--hero__mobile" src="assets/img/hero_new_main_mobile.png">
          
          
          <div class="row layout--row__3__mobile">
            <!-- <img class=" layout--fligran layout--fligran__product layout--fligran__product__1" src="assets/img/product-1.svg">
            <img class=" layout--fligran layout--fligran__product layout--fligran__product__2" src="assets/img/product-2.svg">
            <img class=" layout--fligran layout--fligran__product layout--fligran__product__shadow" src="assets/img/product-shadow.png"> -->
             <img class="layout--fligran__product__multi" src="assets/img/products_total.png" >
          </div>


          <div class="layout--container ">
            <div class="row layout--row__1">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7 layout--left">
                <img class=" layout--fligran__b" src="assets/img/fligran-banner.svg">
                <div class="row layout--row__2">
                  <div><img class=" layout--fligran layout--fligran__s" src="assets/img/fligran-1.svg"></div>
                  <div><img class=" layout--fligran layout--fligran__s layout--fligran__bottom" src="assets/img/fligran-2.svg"></div>
                  <div><img class=" layout--fligran layout--fligran__x" src="assets/img/fligran-3.svg"></div>
                  <div><img class=" layout--fligran layout--fligran__s layout--fligran__bottom" src="assets/img/fligran-4.svg"></div>
                  <div><img class="layout--fligran layout--fligran__s" src="assets/img/fligran-5.svg"></div>
                </div>
                <div class="row layout--row__2">
                  <div><img class=" layout--fligran layout--fligran__s layout--fligran__mobile" src="assets/img/fligran-2.svg"></div>
                <div><img class=" layout--fligran layout--fligran__s layout--fligran__mobile layout--fligran__mobile__right " src="assets/img/fligran-4.svg"></div>
                </div>

                <div class="row layout--row__3">
                  <!-- <img class=" layout--fligran layout--fligran__product layout--fligran__product__1" src="assets/img/product-1.svg">
                  <img class=" layout--fligran layout--fligran__product layout--fligran__product__2" src="assets/img/product-2.svg">
                  <img class=" layout--fligran layout--fligran__product layout--fligran__product__shadow" src="assets/img/product-shadow.png"> -->
                  <img class="layout--fligran__product__multi" src="assets/img/products_total.png" >


                </div>

              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 layout--right">
                <div class="layout--row__4">


                  <a href="doz-hesapla.html" class="layout--button layout--button__yellow layout--button__left">Doz Hesapla</a>


                  <a href="presentil-hesapla.html" class="layout--button layout--button__blue layout--button__right">Presentil Hesapla</a>



                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layout--ref">
          Ref: Evolvia RP Ürün Bilgisi
        </div>
      </div>

      

      @@include('./partials/hamburger-menu.html') 


      <!-- @@include('./content/partials/warning-popup.html')  -->
    </main>

    <!-- Content -->
    @@include('./layout/footer.html') 

