@@include('./layout/inner-header.html') 
            <section id="presentil-degerler" class="mb-50 mb-md-20">
              <div class="content--title content--title__module content--title__module__presentil">Presentil Hesaplama Modülü</div>
              <div class="layout--container--inner ">
                
                @@include('./content/presentil-degerler.html') 
                @@include('./content/partials/alert-modal.html') 

              </div>
            </section>
@@include('./layout/inner-footer.html') 
